.cardDescription {
    z-index: 1;
    color: black;
    width: 335px;
    font-style: italic;
    line-height: 22px;
    margin: auto;
}

.cardDescriptionDiv{
	height: 187px;
    width: 345px;
    left: 5px;
    bottom: -288px;
    position: relative;
    margin: auto;
    z-index: 1;	
}

.cardDiv {
	height: 700px;
    animation: float 6s ease-in-out infinite;
}


.cardLvl {
	font-family: "arial";
	position: relative;
	right: -185px;
    top: -54px;
    font-size: 20px;
    z-index: 1;
    color: black;
}

.cardTextDiv {
    position: absolute;
    left: 0;
    right: 0;
    height: 657px;
    width: 477px;
    margin: auto;
}

.cardUsername {
    position: relative;
    left: 25px;
    top: -15px;
    font-size: 23px;
    z-index: 1;
    color: black;
    text-align: left;
}

.profileH1 {
    font-family: 'Wendy One', sans-serif;
    margin-top: 0;
    padding-top: 0;
}

.userCard {
	margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.42);

}

.userSpaceH1, .userSpaceH3 {
    font-family: 'Wendy One', sans-serif;
}

.userSpaceH3 {
    font-size: 25px;
    margin-bottom: 50px;
}



@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-10px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}

@media screen and (max-width: 600px){
    .cardDescription {
        width: 250px;
        font-size: 13px;
    }

    .cardDescriptionDiv {
        left: -0;
        width: 300px;
        bottom: -225px;
    }

    .cardTextDiv {
        width: 400px;
    }

    .cardUsername {
        width: 400px;
        left: 22px;
    }

    .userCard {
        width: 400px;
    }

    .cardLvl {
        right: -140px;
    }

    .userSpaceH1, .userSpaceH3 {
        padding: 0
    }
}

@media screen and (max-width: 500px){
    .cardDescription {
        width:300px;
        font-size: 18px;
    }
    .cardDescriptionDiv {
        left: -18px;
        width: 300px;
        bottom: -225px;
    }

    .cardDiv {
        height: 450px;
    }

    .cardUsername {
        width: 300px;
        left: 20px;
        top: -18px;
        font-size: 18px;
    }

    .userCard {
        width: 300px;
    }

    .cardLvl {
        right: -30px;
        font-size: 18px;
    }
}

