#add-games-btn {
    top: 40px;
}

.collapsible-body {
  color: #89D47C !important;
  padding: 15px;
  background-color: #77867F;
  margin-bottom: -3px;
}

#newGame {
  display: inline;
  width: 75%;
}

.card-panel.gamelistBox {
  border-radius: 10px;
  padding: 0 !important;
  background-color: gainsboro;
  display: inline-block;
  padding: 15px !important;
}

.gamelistHeader {
  font-family: 'Wendy One', sans-serif;
  color: black;
  height: 75px;
  line-height: 75px;
  margin: -6px;
/*  text-align: left;*/
}

.gamelistHeaderDiv {
  height: 100px;
}

.collection {
  margin-bottom: -65px !important;
}

.collection-item {
  /*background-color: #89D47C !important;*/
  /*opacity: 50%;*/
}

li:nth-of-type(odd) .collapsible-header {
  background: #515664;
  color: white;
}

li:nth-of-type(even) .collapsible-header  {
  background: #838ca6;
  color: white;
}

.collapsible-header {
  color: black;
  margin-bottom: -2px;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

#add-games-btn {
  position: relative;
  float: right;
  display: inline;
  margin-top: -10vh;
  margin-right: 25px;
}

#search-games-btn {
  float: right;
  margin-top: -60px;
  margin-right: 15px;
}

.new-game-select {
  background: #515664;
  width: 100%;
}

p {
  margin-top: 0px;
}

#new-game-modal {
  height: 80%;
  /*display: inline-block;*/
}

.switch {
  float: left;
  display: inline;
  height: 40px;
  padding-left: 30px;
  margin-right: -165px;
}

.modal-row {
  height: 0px;
  padding-left: 50%;
}

h4 {
  font-family: 'Above', sans-serif;
}

.btn {
  background-color: #1B998B !important;
  color: #C5D86D !important;
}

i {
  color: #C5D86D !important;
}

li {
  border: 2px solid #1B998B;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media screen and (max-width: 500px){
  #add-games-btn {
    top: 0;
}
  .gamelistHeader {
    padding-right: 20px;
  }

  .gamelistHeaderDiv {
    height: 100px;
  }

}