.modal-btn {
  margin: 77px 30px 5px 30px;
}

.splash-background {
  font-family: "above";
  color: white;
  margin-top: -35px;
  width: 100%;
  height: 100vh;
  background-image: URL("splash-background.jpg");
  background-size: cover;
}

h1 {
  padding-top: 50px;
  text-decoration: underline;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 3em;
}

@font-face {
    font-family: above;
    src: url("above.ttf");
}