.modal-btn {
  margin: 77px 30px 5px 30px;
}

.splash-background {
  font-family: "above";
  color: white;
  width: 100%;
  height: 100vh;
  background-image: URL("../../assets/img/splash-background1.jpg");
  background-size: cover;
  position: fixed;
}

h1 {
  padding-top: 50px;
  text-decoration: underline;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 3em;
}

.logoH1 {
    font-family: 'Wendy One', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: -15px 0 0;
    font-size: 80px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.56);
}

.siteLogo {
  width: 200px;
  margin-top: 40px;
  animation: float 6s ease-in-out infinite;
}

.splashHolder {
    background-image: URL("../../assets/img/cheap_diagonal_fabric.jpg");
    width: 500px;
    color: white;
    width: 40%;
    height: 100%;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
    text-align: center;
}

.splashh4 {
  font-size: 25px;
  margin-top: -10px;
}

.splashHs {
  font-family: 'Fjalla One', sans-serif;
  font-style: italic;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.56);
}

.splashLowerH {
  margin-top: 150px;
  color: white;
}

@font-face {
    font-family: above;
    src: url("above.ttf");
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-10px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1200px) {
  .logoH1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {
  .splashHolder {
    width: 60%;
  }
}

@media screen and (max-width: 570px) {
  .googleLoginBtn {
    width: 200px !important;
  }

  .logoH1 {
    font-size: 40px;
  }

  .modal-btn, .modalButton {
    width: 200px !important;
  }

  .splashHolder {
    width: 100%;
  }

  .splashLowerH {
    margin-top: 50px;
  }
}